<nav class="nav navbar navbar-default">
  <div class="container-fluid">

  <ul class="nav navbar-nav">
    <li>
      <%=link_to "My Address Book", root_path%>
    </li>
    <li>
      <%=link_to "Add Contact", new_contact_path, class: "btn btn-default"%>
    </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <%#if user_logged_in?%>
        <%#=link_to "Logged in as:#{User.find(session[:user_id]).email}", ""%>
    </li>
    <li>
        <%#=link_to "Logout", '/logout'%>
      <%#end%>
    </li>
  </ul> 

  </div>
  
</nav>
